body {
    background: #f3f3f3
}
header {
    width: 100%;
    height: 120px;
    background: #b44e55;
    background: #9b343c;
}
.form_row {
    background: #ffffff;
    margin-top: 45px;
}
.title_block {
    color: #9b343c;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.content_block {
    border-top: 1px dotted #d7d7d7;
    padding-top: 10px;
    margin-top: 15px;
}
.label_block {
    font-family: "Cuprum", "Arial", sans-serif;
    color: #2b1211;
    line-height: 40px;
    font-size: 20px;
    white-space: nowrap;
}
.img_link_block {
    min-width: 270px;
    font-size: 100%;
}
.link_block {
    background: #9b343c url(/images/set2.png) 20px 20px no-repeat;
    color: #ffffff;
    text-decoration: none;
    min-width: 270px;
    font-size: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 30px 0 27px;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    
}
.link_block:hover {
    color: #ffffff;
    text-decoration: none;
}
.form-control{
    margin-bottom: 20px;
    box-shadow: inset 0 -4px 2px rgba(0, 0, 0, 0.1);
}
input.no_width_hundred, select.no_width_hundred {
    max-width:155px;
    margin-left: 25px;
}
.container {
    overflow: inherit;
}
.col_s4 {
    padding-left: 0;
}
#example_block {
    white-space: pre-line;
    margin: 5px;
}
#example_block > img {
     width: 150px;
     height: 150px;
}
#show_res_block {
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-top: 45px;
}

#table_show_res>tr>td {
     padding-right: 160px;
}
.icon_section {
    float: right;
}
.show_hide {
    transition: all 2s;
    transform: rotate(180deg)
}
.none {
    display: none;
}
.no_width {
    width: 35%;
    margin-left: 5%;
}
.div_with_add_link {
    background: #f3f3f3;
    padding: 12px 10px;
    font-size: 14px;
}
.block__form_fontstyle {
    background: #f3f3f3;
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
    margin-left: 10%;
}
.label_margin {
    margin-left: 5%;
}
.color_pick {
    display: inline-block;
    border: 1px solid #a9a9a9;
}
.change_color {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
}
.preset-black {
    background: black;
}
.preset-gray {
    background: gray;
}
.preset-white {
    width: 20px;
    height: 20px;
    border: 2px solid #c8c8c8;
    background: #ffffff;
}
.preset-transparent {
    background-image: url("/images/spritemap.png");
    background-position: -444px -190px;
    width: 20px;
    height: 20px;
}
.Ñontainer_block {
    display: inline-flex;
}
.minicolors-swatch {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    border: 0px;
    background: rgba(255, 0, 0, 0);
}
.minicolors-swatch-color {
    display: inline-block;
    vertical-align: middle;
}
.input_radio {
    display: none;
}

.input_radio+label{
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    margin-bottom: 12px;
    display: block;
    font-size: 18px;
    line-height: 18px;
}
div label.label_for_borderstyle_radio {
    display: inline-block;
    vertical-align: top;
    background: #f3f3f3;
    padding: 13px 10px 13px 35px;
    font-size: 14px;
}
.input_radio + label:before {
    background-image: url(/images/spritemap.png);
    background-position: -196px -422px;
    width: 16px;
    height: 16px;
}
.input_radio+label:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: 0;
    top: -1px;
}
.block_border_style label:before {
    top: 13px;
    left: 10px;
}
.input_radio:checked + label:before {
    background-image: url(/images/spritemap.png);
    background-position: -175px -422px;
    width: 16px;
    height: 16px;
}
.colorpick-container > div {
    height: 40px;
    line-height: 36px;
}
.borderstyle_label-solid {
    border: 1px solid #c7c7c7;
}
.borderstyle_label-dashed {
    border: 1px dashed #c7c7c7;
}
.borderstyle_label-dotted {
    border: 1px dotted #c7c7c7;
}
.block_show_more {
    background: #f3f3f3;
    padding: 12px 10px;
    font-size: 16px;
}
.block_show_more > div {
    margin: 0;
}
.block_font_px {
    position: absolute;
    color: #c2c2c2;
    font-size: 16px;
    top: 50px;
    right: 19px;
}
.block_font_px_small {
    top: 4px;
}
